.body {
  color: #434455;
  /* background-color: #FFFFFF; */
  background: var(--CLOUD, #ffffff);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

.section {
  padding-top: 188px;
  padding-bottom: 188px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  position: sticky;
  top: -1;
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 72px;
}
.navbar {
  display: flex;
  align-items: center;
  margin: 0;
}

.menu-top {
  display: flex;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-top-line {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0 24px;
}

.menu-top-line:hover,
.menu-top-line:focus {
  color: #404bbf;
}
.adress-item {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.adress {
  font-style: normal;
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.adress-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px 600px;
  background-color: #2e2f42;
}

.hero-head {
  color: var(--WHITE, #fff);
  text-align: center;

  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-button {
  display: block;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-content {
  display: flex;
  gap: 24px;
}

.list-content-iteam {
  width: calc((100% - 72px) / 4);
}

.content-header {
  color: var(--NAVY-BLUE, #2e2f42);
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.content-header-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-head {
  font-size: 36px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  gap: 24px;
}

.team-iteam {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  text-align: center;
  padding: 32px 0;
}

.team-head-card {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.team-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-head {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding: 120px 0 120px 0;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-head-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-head-card {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-card-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.logo-span {
  color: #f4f4fd;
}

.logo {
  display: inline-block;
}

.footer-logo {
  margin-bottom: 16px;
}
.header-logo {
  margin-right: 76px;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
}
